[Telnet404]
jwt token = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZGVudGl0eSI6IjMyMTQ0MzY0ODBAcXEuY29tIiwiaWF0IjoxNjE4NjQ2NzI4LCJuYmYiOjE2MTg2NDY3MjgsImV4cCI6MTYxODY4OTkyOH0.ciF6H7g7jcYSTYnYOOvnxVCp1Kp465EPcdOep5iDXK0

