[Telnet404]
jwt token = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZGVudGl0eSI6IjMyMTQ0MzY0ODBAcXEuY29tIiwiaWF0IjoxNjE4OTA1NTI2LCJuYmYiOjE2MTg5MDU1MjYsImV4cCI6MTYxODk0ODcyNn0.EP5ZLnM-E4kIYSYjEX7uUXXzN1XAjHx-eQqBULWJ72k

