[Telnet404]
jwt token = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZGVudGl0eSI6IjMyMTQ0MzY0ODBAcXEuY29tIiwiaWF0IjoxNjE5MDUyNzc1LCJuYmYiOjE2MTkwNTI3NzUsImV4cCI6MTYxOTA5NTk3NX0.7owAD8c4_s_bPdffbtTbxNOFnG6T9-nFrae00su9DWY

