[Telnet404]
jwt token = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZGVudGl0eSI6IjMyMTQ0MzY0ODBAcXEuY29tIiwiaWF0IjoxNjE4OTA2NzAxLCJuYmYiOjE2MTg5MDY3MDEsImV4cCI6MTYxODk0OTkwMX0.YitnpHQfLhf2K9agaidUf1wwhG-JttE7SHaQoqBl5us

