[Telnet404]
jwt token = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZGVudGl0eSI6IjMyMTQ0MzY0ODBAcXEuY29tIiwiaWF0IjoxNjE4OTg4ODM1LCJuYmYiOjE2MTg5ODg4MzUsImV4cCI6MTYxOTAzMjAzNX0.0OIRSkSLi17YBkH2-MOI5N0enjKX_bVKMiJfQLCeXdg

